.navbar__ {
  &wrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--color-border);
    height: 4rem;
  }

  &link {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;

    &:hover {
      background-color: var(--navbar-color-bg);
    }
  }

  &link-wrap {
    display: flex;
    align-items: center;

    &-active {
      border-bottom: 0.0625rem solid var(--color-global-blue);
    }
  }

  &link-text {
    color: var(--color-text);
    margin-left: 0.5rem;
  }

  &right-side {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: flex-end;
  }
}
