.cursors__ {
    &section {
        margin-bottom: 1rem;
    }

    &title {
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    &card-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &card {
        background-color: var(--color-bg);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        min-width: 8rem;
        text-align: center;

        transition: background-color var(--transition-speed) ease;

        &:hover {
            background-color: var(--color-bg-hover);
        }
    }
}